body
{
    font-family: Fira;
    background-color:#F5F5F5;
    color: #484848;
}

h1
{
    color: #383838
}

h3
{
    color: #383838
}

#mainContainer
{
    margin: auto;
    padding: 10px;
    width: 45%;
}

#header
{
    border-bottom;
}

#cover
{
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
    clear: both;
}

#contact
{
    float: left;
}

#sites
{
    float: right;
}

#workExperience
{
    clear: both;
}

#skills
{
    clear: both;
}

#education
{
    clear: both;
}

#personalInterests
{
    clear: both;
}
